@import "tailwindcss";
.container {
  max-width: 1400px;
}
.bg {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
body{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}